@model IEnumerable<Car>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Cars</h1>
    <ul>
        @foreach (var car in Model) {
            <li>@car.Registration @car.Model.Make @car.Model.Name (@car.Colour / @car.Year)</li>
        }
    </ul>
</div>
